<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>
    <div style="text-align: right;"><input type="text" name="searchtxt"> | <input type="button" value="Search"></div>
    <div class="dashboard-form">
        <form>
        <h3 class="center">Admin Dashboard</h3>
        <table class="center" name="Doctors" border="1">
        <caption>Registered Doctors</caption>
        <tr><td>Doctor name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"</td><td><input type="button" value="Blacklist"</td></tr>
        <tr><td>Doctor name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"</td><td><input type="button" value="Blacklist"</td></tr>
        </table>

        <table class="center" name="Patients" border="1">
        <caption>Registered Patients</caption>
        <tr><td>Patient name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"</td><td><input type="button" value="Blacklist"</td></tr>
        <tr><td>Patient name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"</td><td><input type="button" value="Blacklist"</td></tr>
        </table>

        <table class="center" name="Appints" border="1">
        <caption>Upcoming Appointments</caption>
        <tr><td>Patient</td><td>Doctor</td><td>Specilization</td><td><input type="button" value="View"></td></tr>
        <tr><td>Patient</td><td>Doctor</td><td>Specilization</td><td><input type="button" value="View"></td></tr>
        </table>

        </form>
    </div> 
<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>