{% extends "base.html" %}
{% block content %}
    <div class="dashboard-form">
        <form>
        <h3 class="center">Welcome Dr.{{id}}</h3>
        <table class="center" name="Doctors" border="1">
        <caption>Upcoming Appointments</caption>
        <tr><th>Sl.no.</th><th>Patient name</th><th>Patient History</th><th colspan="2">Action</th></tr>
        <tr><td>xxxxx</td><td>xxxxx</td><td><a href="#" class='btn-link'>Update</a></td><td><a href="#" class='btn-link btn-done'>Mark as complete</a></td><td><a href="#" class='btn-link btn-danger'>Cancel</a></td></tr>
        <tr><td>xxxxx</td><td>xxxxx</td><td><a href="#" class='btn-link'>Update</a></td><td><a href="#" class='btn-link btn-done'>Mark as complete</a></td><td><a href="#" class='btn-link btn-danger'>Cancel</a></td></tr>
        
        
        </table>

        <table class="center" name="Patients" border="1">
        <caption>Registered Patients</caption>
        <tr><td>Patient name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"</td><td><input type="button" value="Blacklist"</td></tr>
        <tr><td>Patient name</td><td><input type="button" value="Edit"></td><td><input type="button" value="Delete"</td><td><input type="button" value="Blacklist"</td></tr>
        </table>
        <div><a href="/dr_availability/{{id}}" class='btn-link btn-done'>Provide Availablity</a></div> 

        </form>
    </div> 
{% endblock %}