<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>

    <div class="input-form">
        <form>
        <h3 class="center">Edit Doctor Details</h3>
        <table class="center">
        <tr><td><label>Doctor name: </label></td><td><input type="text" name="d_name"></td></tr>
        <tr><td><label>Specilization: </label></td><td><input type="text" name="splz"></td></tr>
        <tr><td><label>Experience: </label></td><td><input type="text" name="exp"></td></tr>
        <tr><td><label>Address: </label></td><td><textarea rows=5 cols=20 name="address"></textarea></td></tr>
        <tr><td><input type="submit" value="Update"></td></tr>
        </table>
        </form>
    </div> 
<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>