{% extends "base.html" %}
{% block content %}
    <div class="input-form">
        <form action="/login" method="POST">
        <h3 class="center">Login</h3>
        <table class="center">
        <tr><td><label>Email ID: </label></td><td><input type="email" name="emailid"></td></tr>
        <tr><td><label>Password: </label></td><td><input type="password" name="pwd"></td></tr>
        <tr><td><input type="submit" value="Login"></td><td><a href="signup.html">New user?</a></td></tr>
        </table>
        </form>
    </div>
{% endblock %}
