{% extends "base.html" %}
{% block content %}
    <div class="dashboard-form">
        <form>
        <h3 class="center">Welcome Mr./Ms./Mrs. {{id}}</h3>
        <table class="center" name="splz" border="1">
        <caption>Departments</caption>
        {% for d in depts %}
            <tr><td>{{d}}</td><td><a href="/drs_by_spl/{{d}}" class='btn-link btn-done'>view details</a></td></tr>
        {%endfor%}
        </table>

        <table class="center" name="Appointments" border="1">
        <caption>Upcoming Appointments</caption>
        <tr><th>Patient</th><th>Doctor</th><th>Specilization</th><th>Action</th></tr>
        {% for d in app_data %}
            <tr><td>{{d.pname}}</td><td>{{d.dname}}</td><td>{{d.spz}}</td><td><a href="#" class='btn-info'>View details</a></td></tr>
        {% endfor %}
        </table>

        </form>
    </div> 
{% endblock %}