<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>
    <div style="text-align: right;"><button onclick="window.location.href='admin_dashboard.html';">Clickme!</button></div>
    <div class="dashboard-form">
        <form>
        <h3 class="center">Admin Dashboard</h3>

        <div>
            <table class="center" name="Patient" style="margin-left: 0; margin-right: auto;">
            <caption><b>Patient History</b></caption>
            <tr><td>Patient name</td><td>xxxxx</td></tr>
            <tr><td>Doctor name</td><td>xxxxx</td></tr>
            <tr><td>Specilization</td><td>xxxxx</td></tr>
            </table>
        </div>

        <table class="center" name="Patients" border="1">
        <caption>Registered Patients</caption>
        <tr>
            <td>Visiting no</td>
            <td>Visiting Type</td>
            <td>Tests done</td>
            <td>Diagnosis remarks</td>
            <td>Prescription</td>    
        </tr>
        </table>
        </form>
    </div> 
<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>