<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>

    <div class="input-form">
        <form>
        <h3 class="center">Register New User</h3>
        <table class="center">
        <tr><td><label>Email ID: </label></td><td><input type="email" name="emailid"></td></tr>
        <tr><td><label>Password: </label></td><td><input type="password" name="pwd"></td></tr>
        <tr><td><label>Full name: </label></td><td><input type="text" name="fname"></td></tr>
        <tr><td><label>User type: </label></td>
            <td>
                <select name="utype">
                    <option value="None" selected>None</option>
                    <option value="Patient">Patient</option>
                    <option value="Doctor">Doctor</option>
                </select>
            </td>
        </tr>
        <tr><td><label>Specilization: </label></td><td><input type="text" name="splz"></td></tr>
        <tr><td><label>Address: </label></td><td><textarea rows=5 cols=20 name="address"></textarea></td></tr>
        <tr><td><input type="submit" value="Signup"></td><td><a href="login.html">Existing User?</a></td></tr>
        </table>
        </form>
    </div> 
<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>