<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>

    <div class="input-form">
        <form action="/register" method="POST">
        <h3 class="center">Register New User</h3>
        <table class="center">
        <tr><td><label>Email ID: </label></td><td><input type="email" name="emailid"></td></tr>
        <tr><td><label>Password: </label></td><td><input type="password" name="pwd"></td></tr>
        <tr><td><label>Full name: </label></td><td><input type="text" name="fname"></td></tr>
        <tr><td><label>User type: </label></td>
            <td>
                <select name="utype" onchange="hide_show_other_details()">
                    <option value="None" selected>None</option>
                    <option value="2">Patient</option>
                    <option value="1">Doctor</option>
                </select>
            </td>
        </tr>
        <div id="dr_details" style="display: none;"> <!-- default hide this -->
            <tr><td><label>Specilization: </label></td><td><input type="text" name="splz"></td></tr>
            <tr><td><label>Experience(Yrs): </label></td><td><input type="text" name="exp"></td></tr>
        </div>
        <tr><td><label>Address: </label></td><td><textarea rows=5 cols=20 name="address"></textarea></td></tr>
        <tr><td><label>Phone no: </label></td><td><input type="text" name="phno"></td></tr>
        <tr><td><input type="submit" value="Signup"></td><td><a href="login.html">Existing User?</a></td></tr>
        </table>
        <h6>{{err_msg}}</h6>
        </form>
        <script>
            function hide_show_other_details() {
                console.log("Enter hide/show fuction");
                const utype = document.getElementsByName("utype"); //drop down list
            
                const dr_details = document.getElementById("dr_details");
  
                // If the user selects 'other', show the field. Otherwise, hide it.
                if (utype.value === "None" && utype.value=="Patient") {
                    dr_details.style.display = "none";
                } else {
                        dr_details.style.display = "block";
                    }
                }
        </script>
    </div> 

<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>