<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>

    <div class="input-form">
        <form action="/register" method="POST">
        <h3 class="center">Register New User</h3>
        <table class="center">
        <tr><td><label>Email ID: </label></td><td><input type="email" name="emailid"></td></tr>
        <tr><td><label>Password: </label></td><td><input type="password" name="pwd"></td></tr>
        <tr><td><label>Full name: </label></td><td><input type="text" name="fname"></td></tr>
        <tr><td><label>User type: </label></td>
            <td>
                <select name="utype" id="utype" onchange="hide_show_other_details()">
                    <option value="2" selected>Patient</option>
                    <option value="1">Doctor</option>
                </select>
            </td>
        </tr>
        <tr id="dr_details1" style="display: none;"><td><label>Specilization: </label></td><td><input type="text" name="splz"></td></tr>
        <tr id="dr_details2" style="display: none;"><td><label>Experience(Yrs): </label></td><td><input type="text" name="exp"></td></tr>
        <tr><td><label>Address: </label></td><td><textarea rows=5 cols=20 name="address"></textarea></td></tr>
        <tr><td><label>Phone no: </label></td><td><input type="text" name="phno"></td></tr>
        <tr><td><input type="submit" value="Signup"></td><td><a href="login.html">Existing User?</a></td></tr>
        </table>
        <h6>{{err_msg}}</h6>
        </form>
        <script>
            function hide_show_other_details() {
                const utype = document.getElementById("utype"); //drop down list
            
                const dr_details1 = document.getElementById("dr_details1");
                const dr_details2 = document.getElementById("dr_details2");
                if (utype.value=="2") {
                    dr_details1.style.display = "none";
                    dr_details2.style.display = "none";
                } else {
                        dr_details1.style.display = "table-row";
                        dr_details2.style.display = "table-row";
                    }
                }
        </script>
    </div> 

<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>