<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="center"><h2>Welcome to ABC Hospital</h2></div>

    <div class="input-form">
        <div class="center"><h3>Update Patient History</h3></div>
        <div><label>Patient Name : </label><label>xxxxxx</label></div>
        <div><label>Department : </label><label>xxxxxx</label></div>
        <form action="/register" method="POST">
        <table class="center">
        <tr><td><label>Consulation Date: </label></td><td><input type="date" name="consul_date"></td></tr>
        <tr><td><label>Diagnosis done: </label></td><td><textarea rows="5" cols="20" name="txt_diagnosis"></textarea></td></tr>
        <tr><td><label>Prescription: </label></td><td><textarea rows="5" cols="20" name="txt_prescription"></textarea></td></tr>
        <tr><td><label>Remarks(if any): </label></td><td><textarea rows="5" cols="20" name="txt_remarks"></textarea></td></tr>
        <tr><td colspan="2"><input type="submit" value="Save"></td></tr>
        </table>
        <h6>{{err_msg}}</h6>
        </form>
    </div> 

<div class="center">Copy rights reseved to ABC Hospitals, 2026</div>
</div>
</body>
</html>